*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

ul{
    
    list-style: none;
}

li{
    
    float: left;
    padding: 10px;
}

.container-fluid{
    color: white;
    font-family: 'Roboto', sans-serif; 
    width: 100%;
    background-color: rgb(74, 78, 78);
}

.app{
    weight:100vh;
}

.app main{
    height: calc(100vh - 90px);
}

.app footer{
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: rgb(40, 40, 40, 100);
}

main .sidebar{
    
    flex-direction: column;
    display: flex;
    height: calc(100vh - 90px);
    background-color: black;
}

.sidebar-logo {
    margin-top:10px;
    margin-left: 20px;
    width: 120px;
}

.home-icons{
    margin-top:40px;
    margin-bottom: 30px;
}

.icon{
    
    padding-left:20px;
    padding-top: 15px;
}

.home, .cerca, .libreria{
    display: inline;
}

.playlist{
   flex-grow: 1;
    flex-shrink: 0;
    overflow: auto;
    margin-top:20px;
    margin-left:20px;
}

.crea-playlist, .nome-playlist{
   margin-top:15px;
}

.sidebar-bottom{

margin-top: 280px;
    
}


.installa, .nome-utente{ 
    flex-wrap: wrap; 
    flex-grow: 1; 
   
}

main .content{
    background-color: rgb(20, 25, 33, 100);
    overflow-y: scroll;
    height: 100%;

}

.upgrade{
    width: 100%;
    height: 80px;
    background-color: rgb(8, 11, 18, 100);
    color:white
}


.upgrade button{
    background-color: black;
    color: white;
    margin-right:10px;
    padding:10px;
    margin-top:20px;
    border-radius:20px;
    float: right;
}

.recently-title{
    display: inline-block;
    padding-left: 50px;
    padding-top: 50px;
}

.recently-played{
    
    margin-top: 40px;
    margin-left:30px;
    flex-wrap: wrap;
    display: flex;
    justify-content:flex-start;
    margin-bottom:40px;

}

.recently-played i:hover {
    opacity: 1;
    background-color: rgb(0, 0, 0, 0.5);
   
}

.per-john-img i:hover {
    opacity: 1;
    background-color: rgb(0, 0, 0, 0.5);
    
}

.artisti-popolari i:hover {
    opacity: 1;
    background-color: rgb(0, 0, 0, 0.5);
    
}



.fa-play-circle{
    font-size: 40px;
    color: springgreen;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recently-played div, .per-john-img div, .artisti-popolari div{
    text-align: center;
}

.p{
    margin-right: 20px;
    position: relative;
    /* padding-left:30px; */
}

.recently-played img{
    width: 150px;
    height: 150px;
}

.per-john-img img{
    width: 150px;
    height: 150px;
}

.per-john-title{
    padding-left:40px;
}

.per-john-img{
    
    margin-top: 40px;
     flex-wrap: wrap;
     display: flex;
     margin-left:30px;
     justify-content:flex-start
}

.artisti-popolari img{
    width: 150px;
    height: 150px;
    border-radius:80px;
}

.artisti-popolari{
 margin-top: 40px;
 flex-wrap: wrap;
 display: flex;
 margin-left:30px;
 justify-content:flex-start
}

.artisti-title{
    display: inline-block;
    padding-left: 50px;
    padding-top: 50px;
}

.menu{
    margin-top: 80px;
    padding-left: 500px;
    display: inline-block;
    color: white;
}

.heart-icon, .folder-icon{
    display:inline;
    padding-left:10px;
    
    
}

.icon-left{
    display: inline-block;
    margin-left:50px;
   
   
}

.album-icon img{
    margin-top: 20px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

.descrizione-riproduzione{
    display: inline-block;
}


.music-bar{
    margin-top:5px;
    margin-left:5px;
     margin-right:5px;
    width: 350px;
    height: 1px;
     background-color: white;
}

.player-button{
    
    display: inline-block;
    text-align: center;
    padding:20px;
    font-size:20px;
   
}

.music-player{
    font-size:12px;
    display: flex;
    justify-content: space-between;
}


.installa hr{
    margin-top:10px;
    margin-bottom:10px;
}


.player-button hr{
    text-align: center;
    width: 300px;
    
}


.volume{
    display: inline;
    text-align: center;
    padding-top:40px;
    padding-left:20px;
    margin-right: 10px;
    font-size:14px;
   
}

.icon:hover, .nome-playlist:hover{
    color:grey
}

.menu li:hover{
    color: green;
}

.player-button i:hover{
    color: grey;
}




